.event-tag-bar{
  text-align: left;
}
.event-info-bar{
  min-height: 25px;
  text-align: center;
}
.event-info-bar span{
  color: lightgrey;
  margin: 5px;
  font-size: 12px;
}

.event-time{
  float: left;
}
.event-dist{
  float: right;
}
.event-title{
  margin-top: 40px;
}
.event-references{
  float: left;
  width: 100%;
  text-align: left;
  font-size: 14px;


}
.event-references .link{
  cursor:pointer;
  color: #8888fb !important;
}
.event-references .link:hover{
  text-decoration: underline;
}
.event-tag-chip span{
  line-height: 28px !important;
  font-size: 12px !important;
}
