.group-selector-root{
  width: 100%;
  max-width: 600px;
  max-height: 800px;
  overflow: scroll;
}
.group-selector-group{
padding: 10px;
transition: all 500ms;
cursor:pointer;
}
.group-selector-group:hover{
  background-color: #afc0f5;
  color: white;
}
.group-selector-group.selected{
  background-color: #809df6;
  color: white;
}
.group-selector-group-childs{
  margin-left: 10px;
}
.groups-selector-group-container{
  position: relative;
}
.group-selector-arrow{
  position: absolute !important;
  top: 0;
  right: 0;
  font-size: 38px !important;
  font-weight: 200;
  color: white !important;
  text-shadow: 0 0 1px black;
}
.group-selector-arrow:hover{
  background-color: #afc0f5;
  cursor: pointer;
  line-height: 100%;
}
