.login-form{
  max-width: 300px;
  margin: 40px auto;
}
.register-message a{
  font-size: 10px;
  text-decoration: none;
}
.error {
  color:red;
}
.login-form-container{
  max-width: 500px;

  margin: 20px auto;
  padding: 1px;
}
