.new-event-form{
  width: 100%;
  max-width: 600px;
  margin: 10px auto;
  text-align:left;
}
.new-event-create-button{
  min-width: 88px;
  width: 100%;
  max-width: 400px;
  margin: auto;
  display: block !important;
}
